<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198233373524-foppub31hppumc58u8efgb93u8uriegc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198233373524-foppub31hppumc58u8efgb93u8uriegc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>198233373524-k7sujb1846s0obhvk7vjl3ej52t3nd5l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqYCWJXj9U5S17JO2Kbtq5zb4XMSJb9PM</string>
	<key>GCM_SENDER_ID</key>
	<string>198233373524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lightphoenix.africars</string>
	<key>PROJECT_ID</key>
	<string>afri-car</string>
	<key>STORAGE_BUCKET</key>
	<string>afri-car.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198233373524:ios:ae7bb593ce853d470866c1</string>
	<key>DATABASE_URL</key>
	<string>https://afri-car.firebaseio.com</string>
</dict>
</plist>